html {
	min-height: 100%;
}

body {
	transition: 1000ms;
	background: url(/photos/PartlyCloudy.jpg), linear-gradient(to bottom right, #c31432, #240b36), 
		rgb(255, 115, 0);
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	height: 100%;
}

div {
	margin: auto;
	align-items: center;
	align-self: center;
	justify-content: center;
	flex-direction: column;
}

div.weatherDisplay {
	width: 80%;
	align-self: center;
	align-items: center;
	text-align: center;
	visibility: hidden;
	margin: 3em auto 4em;
}

h1 {
	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 5em;
	width: 100%;
	text-shadow: 1px 1px 30px black;
}

p {
	text-align: center;
	margin: 10px;
	font-size: 2em;
	color: white;
}

input {
	align-self: center;
	text-align: center;
	font-size: 1em;
	width: 60%;
	padding: 15px;
	border: none;
	border-radius: 30px;
}

input:focus {
	outline: none;
	box-shadow: 6px 6px 30px;
}

button {
	align-self: center;
	color: white;
	background-color: #ff2400;
	font-size: 1em;
	padding: 15px;
	border: none;
	border-radius: 30px;
	margin-top: 12px;
	outline: none;
}

button:hover {
	box-shadow: 6px 6px 20px black;
}

button:active {
	box-shadow: none;
}

form {
	display: flex;
	width: 60%;
	align-self: center;
	align-items: center;
	margin: auto;
	justify-content: center;
	justify-self: center;
	flex-direction: column;
}

footer{
	color: white;
	text-align: center;
	font-size: 20px;
}