body {
	transition: 1000ms;
	background-image: url(/photos/PartlyCloudy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}


div {
	display: flex;
	align-self: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div.weatherDisplay {
	visibility: hidden;
	margin: auto;
	margin-top: 20px;
}

h1 {
	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 6vw;
	width: 100%;
	text-shadow: 1px 1px 30px black;
}

p {
	margin: 10px;
	font-size: 30px;
	color: white;
}

input {
	text-align: center;
	font-size: 1vw;
	width: 60%;
	padding: 15px;
	border: none;
	border-radius: 30px;
}

input:focus {
	outline: none;
	box-shadow: 6px 6px 30px;
}

button {
	color: white;
	background-color: #ff2400;
	font-size: 1vw;
	padding: 15px;
	border: none;
	border-radius: 30px;
	margin-left: 8px;
	outline: none;
}

button:hover {
	box-shadow: 6px 6px 20px black;
}

button:active {
	box-shadow: none;
}

form.searchBar {
	align-self: center;
	justify-content: center;
	align-items: center;
	width: initial;
	display: inline-flex;
	width: 100%;
	flex-direction: row;
}

footer{
	color: white;
	text-align: center;
	font-size: 20px;
}